
*:not([dark=true]) {
    --color-1 : #ffffff;
    --color-2 : #e5e5e5;
    --color-3 : #0d1b2a;
}
*[dark=true] {
    --color-1 : #1b263b;
    --color-2 : #0d1b2a;
    --color-3 : #ffffff;
}


.navbar-bx {
    background-color: var(--color-2);

    width: 100%;
    height: 50px;

    transform: translateY(-50px);

    position: fixed;

    display: flex;
}
.navbar-bx::after {
    background-color: var(--color-acc);

    content: "";

    width: 100%;
    height: 5px;

    margin-top: 45px;


    position: absolute;
}

.nav-el {
    height: 35px;
    min-width: 100px;
    background-color: var(--color-1);

    margin-top: 5px;

    margin-left: 10px;

    border-radius: 5px;
    
    color: var(--color-3);

    text-align: center;
    align-content: center;

    transition: 0.1s ease;
}
.nav-el:hover {
    cursor: pointer;

    background-color: var(--color-3);
    color: var(--color-1);
}
.nav-el[selected=true] {
    cursor: pointer;

    background-color: var(--color-acc);
    color: var(--color-3);

    height: 45px;
}