*:not([dark=true]) {
    --color-1 : #ffffff;
    --color-2 : #e5e5e5;
    --color-3 : #0d1b2a;
}
*[dark=true] {
    --color-1 : #1b263b;
    --color-2 : #0d1b2a;
    --color-3 : #ffffff;
}

.btn {
    background-color: var(--color-1);
    color: var(--color-3);

    width: 250px;
    height: 40px;
    
    padding: 10px;
    font-size: 16px;

    border-radius: 5px;

    outline: none;
    border: none;
    margin: 5px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    transition: .1s ease-in;
    border-bottom-right-radius: 0px;
}
.btn::after {
    content: "";

    width: 100px;
    height: 15px;

    border-radius: 5px;

    margin-left: -1px;
    margin-top: 22px;

    background-color: var(--color-acc);

    position: absolute;
    z-index: -10;
    transition: .1s ease-in;
    
}
.btn:hover {
    background-color: var(--color-acc);
    cursor: pointer;
}
.btn:hover::after {
    content: "";

    width: 120px;
    height: 15px;

    border-radius: 5px;

    margin-left: -85px;
    margin-top: 22px;

    background-color: var(--color-acc);

    position: absolute;
    z-index: -10;
}