*:not([dark=true]) {
    --color-1 : #ffffff;
    --color-2 : #e5e5e5;
    --color-3 : #0d1b2a;
}
*[dark=true] {
    --color-1 : #1b263b;
    --color-2 : #0d1b2a;
    --color-3 : #ffffff;
}

.rang-bx {
    -webkit-appearance: none !important;
    background: var(--color-1);
    height:15px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;

    z-index: -5;

    margin: 5px;
}
.rang-bx::after {
    position: absolute;

    width: 190px;
    height: 5px;

    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;

    pointer-events: none;

    content: "";

    background-color:var(--color-acc);
}
.rang-bx::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:var(--color-acc);
    height:15px;
    width:15px;
    border-radius: 50%;
    transform: scale(110%);
    transition: 0.1s;
    z-index: 2;

    cursor: pointer;
}
.rang-bx::-webkit-slider-thumb:hover {
    transform: scale(125%);
}