*:not([dark=true]) {
    --color-1 : #ffffff;
    --color-2 : #e5e5e5;
    --color-3 : #0d1b2a;
    --color-acc : red;
}
*[dark=true] {
    --color-1 : #1b263b;
    --color-2 : #0d1b2a;
    --color-3 : #ffffff;
    --color-acc : red;
}


.swi-bx {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-1);
    margin: 0;
    font: inherit;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin: 5px;
    border-bottom-right-radius: 0px;

    transition: 0.15s;
}
.swi-bx:checked {
    background-color: var(--color-acc);
}
.swi-bx:hover {
    cursor: pointer;
}
.swi-bx::before {
    content: "";    
    width: 20px;
    height: 20px;
    border-radius: 2.5px;
    transform: translateX(-15px);
    transition: 0.15s;
    box-shadow: inset 1em 1em var(--form-control-color);
    color: var(--color-acc);
    background-color: var(--color-acc);
}
.swi-bx:checked::before {
    background-color: var(--color-1);
    transform: translateX(15px);
}